<!DOCTYPE html>
<html>

<head>
    <p class="header">So this is our home page. </p>
    <a href="{% url 'login' %}">Click this to login </a>
</head>


<body>
    <style>
        .header{
            background-color:yellow;
            justify-content: center;
            size:20px;
        }

        body{
            background-color: aqua;
        }
    </style>


    <p>this is a new page</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
     Totam aut nobis voluptate. Totam quia accusantium 
     consequuntur blanditiis quaerat,
    ullam officiis, non sint nam placeat dolor a nesciunt esse,
     nostrum earum.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Totam aut nobis voluptate. Totam quia accusantium 
        consequuntur blanditiis quaerat,
       ullam officiis, non sint nam placeat dolor a nesciunt esse,
        nostrum earum.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Totam aut nobis voluptate. Totam quia accusantium 
            consequuntur blanditiis quaerat,
           ullam officiis, non sint nam placeat dolor a nesciunt esse,
            nostrum earum.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Totam aut nobis voluptate. Totam quia accusantium 
                consequuntur blanditiis quaerat,
               ullam officiis, non sint nam placeat dolor a nesciunt esse,
                nostrum earum.</p>
</body>
</html>